/* --------------- Variables ---------------- */
:root {
  --mainWhite: #ffffff;
  --mainBlue: #8ec1c5;
  --mainPink: #FFA5A5;
  --mainGrey: #eaeef4;
  --mainDarkBrown: #34231D;
  --mainLightBrown: #AF7C6E;
  --mainSpacing: 0.1rem;

  /* fonts */
  --headingFont:'Bitter', serif;
  --accentFont: 'Halant', serif;
  --bodyFont: 'Montserrat', sans-serif;

  /* font-size */
  --largeHeadingFontSize: 67.34px;
  --mediumHeadingFontSize: 50.52px;
  --smallHeadingFontSize: 37.9px;
  --largeBodyFont: 28.43px;
  --mediumBodyFont: 21.33px;
  --bodyFontMain: 16px;
  --smallFont: 12.00px;
  --tinyFont: 9px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------- Main styles ---------------- */
ul, ol {
  list-style: none;
}
/* --------------- Navbar ---------------- */
header {
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: var(--headingFont);
  display: flex;
  background-color: var(--mainBlue);
  font-size: var(--mediumBodyFont);
}
#hamitems li a{
  margin-right: 10px;
  color: var(--mainWhite);
}
#hamnav {
  padding: 0 2rem;
  width: 100%;
}
nav.navbar {
  display:flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
}

#hamnav li  {
  height: 100%;
  align-self: center;
}

#logo {
 width: 100px;
}

a {
  color: white;
  text-decoration: none;
}

.nav-icon:hover,
a:hover, #hamitems li a:hover {
  text-decoration: underline;
}

.cart-btn {
  position: relative;
  cursor: pointer;
  margin-left: auto;
}

.cart-items {
  position: absolute;
  top: -15px;
  left: 28px;
  height: 25px;
  width: 25px;
  background:var(--mainPink);
  padding:5px;
  border-radius: 50%;
  color: var(--mainWhite);
  font-size: var(--bodyFontMain);
  text-align: center;
}

/* ----Hamburger menu ----- */
.fas.fa-bars {
  color: var(--mainGreen);
}

/* Hide Hamburger */
#hamnav label, #hamburger {
  display: none;
}

/* Horizontal menu items */
#hamitems {
  display: flex;
}

#hamitems li a {
  padding: 10px;
}

@media screen and (max-width: 768px) {
  /* Show hamburger icon */
  #hamnav label {
    display: inline-block;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
    color: var(--mainDarkBrown);
  }

  /* Break down menu items into vertical */
  #hamitems li a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--mainGreen);
  }

  /* Toggle Show/Hide Menu */
  #hamitems, #logo {
    display: none;
  }

  .cart-items {
    top: 3px;
    right: auto;
    left: 29px;
  }

  #hamnav input:checked ~ #hamitems {
    display: block;
  }

  .footer-topLine{
    display: flex;
    flex-direction: column;
  }
  .cards {
    margin: 2rem;
  }
}
/* --------------- End of Hamburger menu ---------------- */
/* --------------- End of Navbar ---------------- */
/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgba(201, 226, 227, 0.5);
  z-index: 2;
  visibility: hidden; 
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%); 
}

.showCart {
  transform: translateX(0);
}

.transparentBcg {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}

.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}

/* --------------- Cart Item ---------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 75px;
  height: 75px;
  border-radius: 12px;
}

.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}

.item-amount {
  text-align: center;
  font-weight: 700;
}

.remove-item {
  color: #8A0000;
  cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
  color: var(--mainGreen);
  cursor: pointer;
}

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
/* --------------- End of Cart Item ---------------- */
/* --------------- Hero ---------------- */
.hero {
  min-height: 100vh;
  background: url('../images/brooke-lark-wMzx2nBdeng-unsplash.jpg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: center; */
}

.banner {
  text-align: center;
  margin: -100px auto 0 auto;
  background: rgba(201, 226, 227, 0.8);
  padding: 2rem;
  border-radius: 10px;
  width: 80vw;
  max-width: 1000px;
  color: var(--mainDarkBrown);
  font-family: var(--headingFont);
  -webkit-box-shadow: 0px 0px 17px -3px rgba(38,38,38,1);
  -moz-box-shadow: 0px 0px 17px -3px rgba(38,38,38,1);
  box-shadow: 0px 0px 17px -3px rgba(38,38,38,1);

}

.banner-title {
  font-size: var(--mediumHeadingFontSize);
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}

.banner-btn {
  padding: 1rem 3rem;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  font-weight: 700;
  background: var(--mainPink);
  border: 1px solid var(--mainPink);
  transition: var(--mainTransition);
  cursor: pointer;
  border-radius: 10px;
  color: var(--mainWhite);
}

.banner-btn:hover {
  text-decoration: underline;
}
/* --------------- End of Hero ---------------- */
/* --------------- Start of Sort Buttons ---------------- */
#sort-section{
  display: flex;
  flex-direction: column;
  align-content: center;
}
#sort-section h2{
  text-align: center;
  font-size: var(--mediumHeadingFontSize);
  margin: 2rem 0;
  color: var(--mainDarkBrown);
}
#sort-buttons{
  font-family: var(--bodyFont);
  font-weight: bold;
  width: 80vw;
  max-width: 1000px;
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#sort-buttons button {
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  background-color: var(--mainPink);
  border: solid 1px var(--mainPink);
  color: black;
}
#sort-buttons button:not(:last-child){
  margin-right: 8px;
}
#sort-buttons button:active, .banner-btn:active{
  transform: translate(1px, 1px);
  box-shadow: 2px 2px 2px 0px rgba(59,59,56,1);
}
#sort-buttons button:hover{
  text-decoration: underline;
}

/* --------------- End of Sort Buttons ---------------- */
/* --------------- Cards ---------------- */
.cards {
  font-family: var(--bodyFont);
  margin: 4rem auto;
  width: 80vw;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 1.5rem;
  text-transform: capitalize;
}

.card:hover {
  transform: scale(0.98);
}

.itemImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  border-radius: 20px 20px 0 0;
}

.itemName {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: black;
  background: var(--mainGrey);
  border-radius: 0 0 20px 20px;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--mainDarkBrown);
  color: var(--mainWhite);
  border: none;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
  border-radius: 20px;
}

.bag-btn:hover {
  text-decoration: underline;
}

.fa-shopping-cart {
  margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
  transform: translateX(0);
}

.itemImage {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}

.img-container:hover .itemImage {
  opacity: 0.5;
}
/* --------------- End of Cards ---------------- */
/* --------------- Top button when scroll ---------------- */
#access-button {
  position: fixed;
  bottom: 10px;
  left: 30px;
  z-index: 99;
  height: 60px;
  width: 60px;
  text-align: center;
  color: whitesmoke;
  background-color: darkblue;
  border-radius: 50%;
  padding: 12px;
}


#access-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
/* --------------- End of top button when scroll ---------------- */
/* --------------- Start of Footer ---------------- */
footer{
  font-family: var(--headingFont);
  padding: 1rem;
  font-size: 1rem;
  background-color: var(--mainBlue);
  color: black;
  color: var(--mainWhite);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
}

.footer-nav li:not(:first-child) {
  border-left: 1px solid whitesmoke;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}

.footer-link {
  color:black;
  color: var(--mainWhite);
}

.footer-link:hover {
  text-decoration: underline;
}

.social-icons {
  display: inline-flex;
  justify-content: space-around;
}

.social-icons i {
  margin: 0.5rem;
  color: var(--mainWhite)
}

.social-icons a:hover {
  border-radius: 7px;
  background: #93c572;
  box-shadow: inset -13px -13px 25px #577443, 
              inset 13px 13px 25px #cfffa1;
}

.footer-topLine {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: 0.7rem;
}
/* --------------- End of Footer ---------------- */
/* --------------- media queries ----------------- */
@media only screen and (max-width: 600px) {
  .footer-topLine {
    display: flex;
    flex-direction: column;
  }
  
  .cards {
    margin: 2rem;
  }
  .banner-title {
    font-size: var(--smallHeadingFontSize);
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
  }
  #access-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
@media only screen and (max-width: 900px) {
  #sort-buttons{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: center;
  }
  #sort-buttons button{
    padding: 5px;
    margin: 0.5rem;
  }
}

/* --------------- End of media queries ----------------- */

/* --------------- Start of color access-mode ----------------- */

#hamitems.access-mode a{
  color: var(--mainDarkBrown);
}
#sort-section.access-mode button{
  background-color: var(--mainDarkBrown);
  border-color: var(--mainDarkBrown);
  color: var(--mainWhite);
}

.banner-btn.access-mode, .cart-footer.access-mode button{
  background-color: var(--mainDarkBrown);
  border-color: var(--mainDarkBrown);
  color: var(--mainWhite);
}
footer.access-mode, footer.access-mode  a{
  color: var(--mainDarkBrown);
}
.cart-item.access-mode i{
 color: var(--accessibleGreen)
}
.bag-btn.access-mode  {
  background-color: var(--mainDarkBrown);
  color: var(--mainWhite);
}
a.access-mode i{
  color: var(--accessibleGreen);
}
.social-icons.access-mode a i{
  color: var(--mainDarkBrown);

}.social-icons.access-mode a:hover{
  all: unset;
  transform: scale(1.1);
}
/* --------------- End of access-mode ----------------- */

